html,
body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.block
{
    color:white;
    background-color:black;
    padding: 5%;
}
.block-1
{
    background-color: #324376
}
.full-page
{
    height: 100vh;
}
